In [60]:
import pandas as pd
import os
import datetime
import random
from math import radians, degrees, sin, cos, asin, acos, sqrt

In [61]:
pd.set_option("display.max_columns", None)

In [62]:
data = {}
param = {}
input_directory = '../temp'
param_directory = '../param'
for _filename in os.listdir(input_directory):
    if _filename[0] == '.':
        continue
    print(_filename)
    df_data = pd.read_csv(input_directory+'/'+_filename,  header = None)
    filetype = _filename.split('-')[1]
    column_dict = { 
            'sked': ['from', 'to', 'al','fln', 'actype', 'depday','dep','arrday','arr'],
            'comp': ['from', 'to', 'al', 'fln','actype', 'depday','dep','arrday','arr'],
            'demand': ['orig', 'dest', 'unit','unit_vol', 'rev'],
            'demand_curve': ['orig', 'dest', 'ttt_1','ttt_2', 'ttt_3','ttt_4'],          
            'route_cost': ['from','to', 'actype', 'route_cost'],
            'airport_cost': ['ap', 'actype', 'airp_cost'],
            'aircraft_fix_cost': ['actype', 'airc_fix_cost'],
            'config': ['actype', 'unit_cap', 'vol_cap']
    }
    df_data.columns = column_dict[filetype]
    data[filetype] = df_data
    
for _filename in os.listdir(param_directory):
    if _filename[0] == '.':
        continue
    print(_filename)
    df_data = pd.read_csv(param_directory+'/'+_filename,  header = None)
    column_dict = { 
            'network' : ['stops_allowed'],
            'connections': ['hub', 'minct', 'maxct'],
            'preferences' : ['from', 'to', 'stop_penalty'],
            'airports': ["country_code","region_name","iata","icao","airport","latitude","longitude"]
    }
    df_data.columns = column_dict[_filename]
    param[_filename] = df_data

test-aircraft_fix_cost
test-airport_cost
test-comp
test-config
test-demand
test-demand_curve
test-route_cost
test-sked
airports
connections
preferences

In [63]:
def gcd(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    return 6371 * (
        acos(sin(lat1) * sin(lat2) + cos(lat1) * cos(lat2) * cos(lon1 - lon2))
    )

In [64]:
#inputs
your_sked = data['sked']
comp_sked = data['comp']
data_config = data['config']

param_connect = param['connections']
param_pref = param['preferences']
param_pref['od'] = param_pref["from"]+param_pref["to"]
param_airport = param['airports']
param_airport['latitude']= param_airport['latitude'].astype(float)
param_airport['longitude']= param_airport['longitude'].astype(float)

max_stop = 2

your_sked = your_sked.merge(data_config, on='actype')
comp_sked = comp_sked.merge(data_config, on='actype')


full_sked = pd.concat([your_sked,comp_sked])
full_sked["dep"] = pd.to_datetime(full_sked["dep"]) + full_sked["depday"]*datetime.timedelta(days=1)
full_sked["arr"] = pd.to_datetime(full_sked["arr"]) + full_sked["arrday"]*datetime.timedelta(days=1)
full_sked["id"] = full_sked['al'] + full_sked['fln'].astype('str')+"/"+full_sked['depday'].astype('str')
full_sked = full_sked.merge(param_airport[['iata','latitude','longitude']].add_suffix('_from'),left_on=['from'], right_on=['iata_from'] )
full_sked = full_sked.merge(param_airport[['iata','latitude','longitude']].add_suffix('_to'),left_on=['to'], right_on=['iata_to'])

full_sked["BH"] = (full_sked["arr"]-full_sked["dep"])

full_sked["unit_load"] = 0
full_sked["vol_load"] = 0
full_sked["netw_rev"] = 0
full_sked["pror_rev"]=0

full_sked["dist"] = full_sked.apply(lambda x: gcd(x['longitude_from'], x['latitude_from'],x['longitude_to'], x['latitude_to']), axis=1)

param_connect['minct'] = pd.to_timedelta(param_connect['minct'])
param_connect['maxct'] = pd.to_timedelta(param_connect['maxct'])

df_connect = full_sked.add_suffix('_1').reset_index(drop=True)
df_connect['nbstops'] = 0

list_itin = {}
list_itin[0] = df_connect.copy()
list_itin[0]['unit_demand']= 0
list_itin[0]['vol_demand']= 0
list_itin[0]['rev']= 0
list_itin[0]['tot_dist']=list_itin[0]['dist_1']

#build itineraries
for i in range (1,max_stop+1):
    cnx_p = param_connect.copy()
    itins = list_itin[i-1].merge(full_sked.add_suffix('_'+str(i+1)), how= "cross")
    
    
    itins['cnx_time_'+str(i)] = itins['dep_'+str(i+1)] - itins['arr_'+str(i)]
    
    cnx_p.columns = ['to_'+str(i), 'minct_'+str(i), 'maxct_'+str(i)]
    
    #filter connections
    itins.drop(itins[itins['to_'+str(i)] != itins['from_'+str(i+1)]].index, inplace=True)
    itins.drop(itins[itins['from_'+str(i)] == itins['to_'+str(i+1)]].index, inplace=True)
    itins.drop(itins[itins['from_'+str(1)] == itins['to_'+str(i+1)]].index, inplace=True)
    
    itins = itins.merge(cnx_p, on = ['to_'+str(i)])
    
    itins.drop(itins[itins['cnx_time_'+str(i)] < itins['minct_'+str(i)]].index, inplace=True)
    itins.drop(itins[itins['cnx_time_'+str(i)] > itins['maxct_'+str(i)]].index, inplace=True)
    
    
    itins['nbstops'] = i
    itins['tot_dist'] += itins['dist_'+str(i+1)]
    list_itin[i] = itins


#add attributes
for i in range(0,max_stop+1):
    list_itin[i]["travel_time"] = list_itin[i]["arr_"+str(i+1)]-list_itin[i]["dep_1"]
    list_itin[i]["od"] = list_itin[i]["from_1"]+list_itin[i]["to_"+str(i+1)]
    list_itin[i]["index"] = list_itin[i].index
    list_itin[i]['itin_id'] = list_itin[i]["nbstops"].astype(str)+"-"+list_itin[i]["index"].astype(str)
    list_itin[i] = list_itin[i].merge(param_pref, on="od")

    #calculate score
    list_itin[i]["score"] = list_itin[i]["travel_time"].dt.seconds+list_itin[i]["nbstops"]*list_itin[i]["stop_penalty"]*3600

In [65]:
def build_options(list_itin):
    od_itin = {}
    list_itin_summary = pd.DataFrame(columns=["itin_id","index", "od","travel_time", "nbstops","score"])

    for i in range(0,max_stop+1):
        list_itin_summary= pd.concat([list_itin_summary,list_itin[i][["itin_id","index", "od","travel_time", "nbstops","score"]]]) 
    #organize data by OD
    for od in param_pref.od.unique():    
        od_itin[od] = list_itin_summary[list_itin_summary['od']==od].copy()
    return list_itin_summary, od_itin

list_itin_summary, od_itin = build_options(list_itin)

In [66]:
#variables
timep = 4

#define user arrivals
demand_rand = {}
demand_curve = data['demand_curve']
demand = data['demand']
demand['od'] = demand['orig']+demand['dest']
demand_by_ttt = pd.merge(demand, demand_curve, on=["orig","dest"])

for i in range(1,1+timep):
    demand_by_ttt['d_ttt_'+str(i)]=(demand_by_ttt['ttt_'+str(i)]*demand_by_ttt['unit']).astype('int')

#shuffle pax

for i in range(1,1+timep):
    randm = []
    for indx, row in demand_by_ttt.iterrows():
        for k in range(1,row['d_ttt_'+str(i)]):
            randm.append(row['orig']+row['dest'])
    random.shuffle(randm)
    demand_rand[i] = randm

In [67]:
spill = dict.fromkeys(demand['od'].unique(),0)

avail_list_itin = {}
for key in list_itin:   
    avail_list_itin[key] = list_itin[key].copy()

avail_od_itin = {}
for key in od_itin:
    avail_od_itin[key] = od_itin[key].copy()

avail_list_itin_summary = list_itin_summary.copy()

for _i in range(1, 1+timep):
    list_pax = demand_rand[_i]


    #choose an itin randomly among available ones
    for od_select in list_pax:
        if len(avail_od_itin[od_select])>0 :
            choice = random.choices(list(avail_od_itin[od_select]["itin_id"]), weights = list(avail_od_itin[od_select]["score"]), k=1)
            stop_index = choice[0].split('-')
            choice_stops = int(stop_index[0])
            choice_index = int(stop_index[1])  
            itin_selected = avail_list_itin[choice_stops]['index']==choice_index
            
            #add pax and revenue to itinerary 
            itin_selected_orig_list = (list_itin[choice_stops]['index']==choice_index)
            list_itin[choice_stops].loc[itin_selected_orig_list,'unit_demand'] += 1
            list_itin[choice_stops].loc[itin_selected_orig_list,'vol_demand'] += demand.loc[demand['od']==od_select,'unit_vol'].values[0]
            list_itin[choice_stops].loc[itin_selected_orig_list,'rev'] += demand.loc[demand['od']==od_select,'rev'].values[0]
            
            
            #add pax to flights
            for i in range(0, choice_stops+1):
                if len(avail_list_itin[choice_stops].loc[itin_selected,'id_'+str(i+1)])== 0:
                    break
                flights_chosen = avail_list_itin[choice_stops].loc[itin_selected,'id_'+str(i+1)].values[0]
                full_sked.loc[full_sked['id']==flights_chosen,'unit_load' ] += 1
                full_sked.loc[full_sked['id']==flights_chosen,'vol_load' ] += demand.loc[demand['od']==od_select,'unit_vol'].values[0]
                full_sked.loc[full_sked['id']==flights_chosen,'netw_rev' ] += demand.loc[demand['od']==od_select,'rev'].values[0]
                full_sked.loc[full_sked['id']==flights_chosen,'pror_rev' ] += demand.loc[demand['od']==od_select,'rev'].values[0]*(
                    list_itin[choice_stops].loc[itin_selected_orig_list,'dist_'+str(i+1)].values[0]/list_itin[choice_stops].loc[itin_selected_orig_list,'tot_dist'].values[0]
                )

            #remove closed flights
            for i in range(0, choice_stops+1):
                if (full_sked.loc[full_sked['id']==flights_chosen,'unit_load'].values[0] == full_sked.loc[full_sked['id']==flights_chosen,'unit_cap'].values[0] or
                    full_sked.loc[full_sked['id']==flights_chosen,'vol_load'].values[0] >= full_sked.loc[full_sked['id']==flights_chosen,'vol_cap'].values[0]  ) :
                    for j in range(0, max_stop+1):
                        for k in range(0,j+1):
                            avail_list_itin[j].drop(avail_list_itin[j][avail_list_itin[j]['id_'+str(k+1)] == flights_chosen].index, inplace=True)
                    avail_list_itin_summary, avail_od_itin = build_options(avail_list_itin)
                    
        else:
            #log spill
            spill[od_select] += 1

In [69]:
#inputs
airport_cots = data['airport_cost']
route_cost = data['route_cost']
aircraft_fix_cost = data['aircraft_fix_cost']

route_prof = full_sked.copy()
route_prof = full_sked[full_sked['al'].isin(your_sked.al)]
route_prof = route_prof.merge(airport_cots.add_suffix('_from'), left_on=['actype','from'], right_on=['actype_from','ap_from'], how='left')
route_prof = route_prof.merge(airport_cots.add_suffix('_to'), left_on=['actype','to'], right_on=['actype_to','ap_to'],how='left')
route_prof = route_prof.merge(route_cost,how='left')
route_prof = route_prof.merge(aircraft_fix_cost,how='left')

route_prof[["route_cost","airp_cost_from","airp_cost_to","airc_fix_cost"]].fillna(0)

route_prof['CM1'] = route_prof['pror_rev']- route_prof['route_cost']-(route_prof['airp_cost_from']+route_prof['airp_cost_to'])/2
tot_BH = route_prof['BH'].sum()
route_prof['CM2'] = route_prof['CM1']-route_prof['airc_fix_cost']*(route_prof['BH']/tot_BH)
route_prof['netw_CM1']=route_prof['CM1']-route_prof['pror_rev']+route_prof['netw_rev']
route_prof['netw_CM2']=route_prof['CM2']-route_prof['pror_rev']+route_prof['netw_rev']

In [70]:
route_prof

,from,to,al,fln,actype,depday,dep,arrday,arr,unit_cap,vol_cap,id,iata_from,latitude_from,longitude_from,iata_to,latitude_to,longitude_to,BH,unit_load,vol_load,netw_rev,pror_rev,dist,ap_from,actype_from,airp_cost_from,ap_to,actype_to,airp_cost_to,route_cost,airc_fix_cost,CM1,CM2,netw_CM1,netw_CM2
0,DUS,TXL,FF,1,737,1,2022-02-10 10:52:00,1,2022-02-10 12:24:00,50,570,FF1/1,DUS,51.289501,6.766780,TXL,52.559700,13.287700,0 days 01:32:00,48,576,480,480.000000,468.744977,DUS,737,246,TXL,737.0,234.0,1500.0,10000,-1260.000000,-1879.111709,-1260.0,-1879.111709
1,DUS,CDG,FF,2,737,1,2022-02-10 14:14:00,1,2022-02-10 17:00:00,50,570,FF2/1,DUS,51.289501,6.766780,CDG,49.012798,2.550000,0 days 02:46:00,31,581,557,474.910143,392.770642,DUS,737,246,CDG,737.0,234.0,1000.0,10000,-765.089857,-1882.182724,-683.0,-1800.092867
2,DUS,FRA,FF,3,737,1,2022-02-10 10:49:00,1,2022-02-10 15:37:00,50,570,FF3/1,DUS,51.289501,6.766780,FRA,50.033333,8.570556,0 days 04:48:00,2,624,46,46.000000,188.868092,DUS,737,246,FRA,737.0,432.0,800.0,10000,-1093.000000,-3031.088829,-1093.0,-3031.088829
3,DUS,MAD,FF,5,737,3,2022-02-12 09:24:00,3,2022-02-12 10:25:00,50,570,FF5/3,DUS,51.289501,6.766780,MAD,40.471926,-3.562640,0 days 01:01:00,8,570,406,288.784486,1441.299684,DUS,737,246,MAD,737.0,4654.0,2000.0,10000,-4161.215514,-4571.713495,-4044.0,-4454.497981
4,DUS,BCN,FF,6,737,3,2022-02-12 08:58:00,3,2022-02-12 10:23:00,50,570,FF6/3,DUS,51.289501,6.766780,BCN,41.297100,2.078460,0 days 01:25:00,48,576,20736,20736.000000,1167.414587,DUS,737,246,BCN,737.0,1900.0,1900.0,10000,17763.000000,17190.994616,17763.0,17190.994616
5,DUS,LHR,FF,4,380,3,2022-02-12 09:41:00,3,2022-02-12 10:30:00,50,1200,FF4/3,DUS,51.289501,6.766780,LHR,51.470600,-0.461941,0 days 00:49:00,10,1230,350,350.000000,501.891043,DUS,380,414,LHR,380.0,4234.0,23121.0,50000,-25095.000000,-26743.721400,-25095.0,-26743.721400
6,DUS,FCO,FF,7,380,3,2022-02-12 08:24:00,3,2022-02-12 08:28:00,50,1200,FF7/3,DUS,51.289501,6.766780,FCO,41.800278,12.238889,0 days 00:04:00,50,1073,5733,3783.763437,1134.318200,DUS,380,414,FCO,380.0,423.0,23231.0,50000,-19865.736563,-20000.326065,-17916.5,-18051.089502
7,TXL,DUS,FF,8,737,1,2022-02-10 06:06:00,1,2022-02-10 08:32:00,50,570,FF8/1,TXL,52.559700,13.287700,DUS,51.289501,6.766780,0 days 02:26:00,0,0,0,0.000000,468.744977,TXL,737,234,DUS,737.0,246.0,NaN,10000,NaN,NaN,NaN,NaN
8,CDG,DUS,FF,9,737,1,2022-02-10 05:24:00,1,2022-02-10 06:06:00,50,570,FF9/1,CDG,49.012798,2.550000,DUS,51.289501,6.766780,0 days 00:42:00,0,0,0,0.000000,392.770642,CDG,737,234,DUS,737.0,246.0,NaN,10000,NaN,NaN,NaN,NaN
9,FRA,DUS,FF,10,737,1,2022-02-10 06:37:00,1,2022-02-10 07:19:00,50,570,FF10/1,FRA,50.033333,8.570556,DUS,51.289501,6.766780,0 days 00:42:00,0,0,0,0.000000,188.868092,FRA,737,432,DUS,737.0,246.0,NaN,10000,NaN,NaN,NaN,NaN
10,MAD,DUS,FF,12,737,3,2022-02-12 09:43:00,3,2022-02-12 10:01:00,50,570,FF12/3,MAD,40.471926,-3.562640,DUS,51.289501,6.766780,0 days 00:18:00,0,0,0,0.000000,1441.299684,MAD,737,4654,DUS,737.0,246.0,NaN,10000,NaN,NaN,NaN,NaN
11,BCN,DUS,FF,13,737,3,2022-02-12 04:30:00,3,2022-02-12 05:15:00,50,570,FF13/3,BCN,41.297100,2.078460,DUS,51.289501,6.766780,0 days 00:45:00,1,12,86,38.485493,1167.414587,BCN,737,1900,DUS,737.0,246.0,NaN,10000,NaN,NaN,NaN,NaN
12,LHR,DUS,FF,11,380,3,2022-02-12 07:27:00,3,2022-02-12 08:08:00,50,1200,FF11/3,LHR,51.470600,-0.461941,DUS,51.289501,6.766780,0 days 00:41:00,0,0,0,0.000000,501.891043,LHR,380,4234,DUS,380.0,414.0,NaN,50000,NaN,NaN,NaN,NaN
13,FCO,DUS,FF,14,380,3,2022-02-12 23:21:00,4,2022-02-13 01:34:00,50,1200,FF14/3,FCO,41.800278,12.238889,DUS,51.289501,6.766780,0 days 02:13:00,0,0,0,0.000000,1134.318200,FCO,380,423,DUS,380.0,414.0,NaN,50000,NaN,NaN,NaN,NaN
14,TXL,KRK,FF,15,380,1,2022-02-10 21:00:00,2,2022-02-11 01:34:00,50,1200,FF15/1,TXL,52.559700,13.287700,KRK,50.077702,19.784800,0 days 04:34:00,0,0,0,0.000000,528.888763,TXL,380,423,NaN,NaN,NaN,NaN,50000,NaN,NaN,NaN,NaN

In [ ]:
list_itin[0]

,from_1,to_1,al_1,fln_1,actype_1,depday_1,dep_1,arrday_1,arr_1,unit_cap_1,vol_cap_1,id_1,iata_from_1,latitude_from_1,longitude_from_1,iata_to_1,latitude_to_1,longitude_to_1,unit_load_1,vol_load_1,netw_rev_1,pror_rev_1,dist_1,nbstops,unit_demand,vol_demand,rev,tot_dist,travel_time,od,index,itin_id,from,to,stop_penalty,score
0,DUS,TXL,FF,1,737,1,2022-02-08 10:52:00,1,2022-02-08 12:24:00,50,570,FF1/1,DUS,51.289501,6.766780,TXL,52.559700,13.287700,0,0,0,0,468.744977,0,48,576,480,468.744977,0 days 01:32:00,DUSTXL,0,0-0,DUS,TXL,1,5520
1,DUS,TXL,LH,1,737,1,2022-02-08 10:00:00,1,2022-02-08 12:00:00,50,570,LH1/1,DUS,51.289501,6.766780,TXL,52.559700,13.287700,0,0,0,0,468.744977,0,48,576,480,468.744977,0 days 02:00:00,DUSTXL,1,0-1,DUS,TXL,1,7200
2,DUS,CDG,FF,2,737,1,2022-02-08 14:14:00,1,2022-02-08 17:00:00,50,570,FF2/1,DUS,51.289501,6.766780,CDG,49.012798,2.550000,0,0,0,0,392.770642,0,25,575,575,392.770642,0 days 02:46:00,DUSCDG,4,0-4,DUS,CDG,1,9960
3,DUS,CDG,LH,2,737,1,2022-02-08 14:00:00,1,2022-02-08 17:00:00,50,570,LH2/1,DUS,51.289501,6.766780,CDG,49.012798,2.550000,0,0,0,0,392.770642,0,25,575,575,392.770642,0 days 03:00:00,DUSCDG,5,0-5,DUS,CDG,1,10800
4,DUS,FRA,FF,3,737,1,2022-02-08 10:49:00,1,2022-02-08 15:37:00,50,570,FF3/1,DUS,51.289501,6.766780,FRA,50.033333,8.570556,0,0,0,0,188.868092,0,2,624,46,188.868092,0 days 04:48:00,DUSFRA,13,0-13,DUS,FRA,1,17280
5,DUS,FRA,LH,3,737,1,2022-02-08 10:20:00,1,2022-02-08 15:00:00,50,570,LH3/1,DUS,51.289501,6.766780,FRA,50.033333,8.570556,0,0,0,0,188.868092,0,2,624,46,188.868092,0 days 04:40:00,DUSFRA,14,0-14,DUS,FRA,1,16800
6,DUS,MAD,FF,5,737,3,2022-02-10 09:24:00,3,2022-02-10 10:25:00,50,570,FF5/3,DUS,51.289501,6.766780,MAD,40.471926,-3.562640,0,0,0,0,1441.299684,0,5,615,160,1441.299684,0 days 01:01:00,DUSMAD,17,0-17,DUS,MAD,1,3660
7,DUS,MAD,LH,5,737,3,2022-02-10 08:30:00,3,2022-02-10 09:40:00,50,570,LH5/3,DUS,51.289501,6.766780,MAD,40.471926,-3.562640,0,0,0,0,1441.299684,0,5,615,160,1441.299684,0 days 01:10:00,DUSMAD,18,0-18,DUS,MAD,1,4200
8,CDG,MAD,AF,24,737,1,2022-02-08 16:53:00,1,2022-02-08 17:34:00,50,570,AF24/1,CDG,49.012798,2.550000,MAD,40.471926,-3.562640,0,0,0,0,1064.512891,0,5,615,435,1064.512891,0 days 00:41:00,CDGMAD,19,0-19,CDG,MAD,1,2460
9,FCO,MAD,AZ,37,737,4,2022-02-11 05:35:00,4,2022-02-11 06:43:00,50,570,AZ37/4,FCO,41.800278,12.238889,MAD,40.471926,-3.562640,0,0,0,0,1329.630400,0,48,576,3840,1329.630400,0 days 01:08:00,FCOMAD,20,0-20,FCO,MAD,1,4080
10,DUS,BCN,FF,6,737,3,2022-02-10 08:58:00,3,2022-02-10 10:23:00,50,570,FF6/3,DUS,51.289501,6.766780,BCN,41.297100,2.078460,0,0,0,0,1167.414587,0,48,576,20736,1167.414587,0 days 01:25:00,DUSBCN,21,0-21,DUS,BCN,1,5100
11,DUS,BCN,LH,6,737,3,2022-02-10 08:00:00,3,2022-02-10 09:30:00,50,570,LH6/3,DUS,51.289501,6.766780,BCN,41.297100,2.078460,0,0,0,0,1167.414587,0,48,576,20736,1167.414587,0 days 01:30:00,DUSBCN,22,0-22,DUS,BCN,1,5400
12,DUS,LHR,FF,4,380,3,2022-02-10 09:41:00,3,2022-02-10 10:30:00,50,1200,FF4/3,DUS,51.289501,6.766780,LHR,51.470600,-0.461941,0,0,0,0,501.891043,0,10,1230,350,501.891043,0 days 00:49:00,DUSLHR,25,0-25,DUS,LHR,1,2940
13,DUS,LHR,LH,4,380,3,2022-02-10 09:00:00,3,2022-02-10 10:10:00,50,1200,LH4/3,DUS,51.289501,6.766780,LHR,51.470600,-0.461941,0,0,0,0,501.891043,0,10,1230,350,501.891043,0 days 01:10:00,DUSLHR,26,0-26,DUS,LHR,1,4200
14,DUS,FCO,FF,7,380,3,2022-02-10 08:24:00,3,2022-02-10 08:28:00,50,1200,FF7/3,DUS,51.289501,6.766780,FCO,41.800278,12.238889,0,0,0,0,1134.318200,0,50,1150,3300,1134.318200,0 days 00:04:00,DUSFCO,29,0-29,DUS,FCO,1,240
15,DUS,FCO,LH,7,380,3,2022-02-10 07:30:00,3,2022-02-10 08:20:00,50,1200,LH7/3,DUS,51.289501,6.766780,FCO,41.800278,12.238889,0,0,0,0,1134.318200,0,50,1150,3300,1134.318200,0 days 00:50:00,DUSFCO,30,0-30,DUS,FCO,1,3000

In [ ]:
full_sked

,from,to,al,fln,actype,depday,dep,arrday,arr,unit_cap,vol_cap,id,iata_from,latitude_from,longitude_from,iata_to,latitude_to,longitude_to,BH,unit_load,vol_load,netw_rev,pror_rev,dist
0,DUS,TXL,FF,1,737,1,2022-02-10 10:52:00,1,2022-02-10 12:24:00,50,570,FF1/1,DUS,51.289501,6.766780,TXL,52.559700,13.287700,0 days 01:32:00,0,0,0,0,468.744977
1,DUS,TXL,LH,1,737,1,2022-02-10 10:00:00,1,2022-02-10 12:00:00,50,570,LH1/1,DUS,51.289501,6.766780,TXL,52.559700,13.287700,0 days 02:00:00,0,0,0,0,468.744977
2,CDG,TXL,AF,21,737,1,2022-02-10 18:14:00,1,2022-02-10 19:15:00,50,570,AF21/1,CDG,49.012798,2.550000,TXL,52.559700,13.287700,0 days 01:01:00,0,0,0,0,850.497614
3,FCO,TXL,AZ,33,737,2,2022-02-11 09:26:00,2,2022-02-11 10:15:00,50,570,AZ33/2,FCO,41.800278,12.238889,TXL,52.559700,13.287700,0 days 00:49:00,0,0,0,0,1198.981545
4,DUS,CDG,FF,2,737,1,2022-02-10 14:14:00,1,2022-02-10 17:00:00,50,570,FF2/1,DUS,51.289501,6.766780,CDG,49.012798,2.550000,0 days 02:46:00,0,0,0,0,392.770642
5,DUS,CDG,LH,2,737,1,2022-02-10 14:00:00,1,2022-02-10 17:00:00,50,570,LH2/1,DUS,51.289501,6.766780,CDG,49.012798,2.550000,0 days 03:00:00,0,0,0,0,392.770642
6,TXL,CDG,AF,15,380,1,2022-02-10 10:19:00,1,2022-02-10 12:41:00,50,1200,AF15/1,TXL,52.559700,13.287700,CDG,49.012798,2.550000,0 days 02:22:00,0,0,0,0,850.497614
7,FRA,CDG,AF,16,737,1,2022-02-10 14:43:00,1,2022-02-10 17:14:00,50,570,AF16/1,FRA,50.033333,8.570556,CDG,49.012798,2.550000,0 days 02:31:00,0,0,0,0,449.002847
8,MAD,CDG,AF,18,737,1,2022-02-10 09:35:00,1,2022-02-10 10:59:00,50,570,AF18/1,MAD,40.471926,-3.562640,CDG,49.012798,2.550000,0 days 01:24:00,0,0,0,0,1064.512891
9,BCN,CDG,AF,19,380,3,2022-02-12 09:02:00,3,2022-02-12 09:47:00,50,1200,AF19/3,BCN,41.297100,2.078460,CDG,49.012798,2.550000,0 days 00:45:00,0,0,0,0,858.738012
10,LHR,CDG,AF,17,737,1,2022-02-10 11:10:00,1,2022-02-10 15:31:00,50,570,AF17/1,LHR,51.470600,-0.461941,CDG,49.012798,2.550000,0 days 04:21:00,0,0,0,0,347.167508
11,FCO,CDG,AF,20,737,2,2022-02-11 08:03:00,2,2022-02-11 09:57:00,50,570,AF20/2,FCO,41.800278,12.238889,CDG,49.012798,2.550000,0 days 01:54:00,0,0,0,0,1100.693989
12,FCO,CDG,AZ,34,737,3,2022-02-12 08:55:00,3,2022-02-12 10:02:00,50,570,AZ34/3,FCO,41.800278,12.238889,CDG,49.012798,2.550000,0 days 01:07:00,0,0,0,0,1100.693989
13,DUS,FRA,FF,3,737,1,2022-02-10 10:49:00,1,2022-02-10 15:37:00,50,570,FF3/1,DUS,51.289501,6.766780,FRA,50.033333,8.570556,0 days 04:48:00,0,0,0,0,188.868092
14,DUS,FRA,LH,3,737,1,2022-02-10 10:20:00,1,2022-02-10 15:00:00,50,570,LH3/1,DUS,51.289501,6.766780,FRA,50.033333,8.570556,0 days 04:40:00,0,0,0,0,188.868092
15,CDG,FRA,AF,22,380,1,2022-02-10 16:16:00,1,2022-02-10 18:37:00,50,1200,AF22/1,CDG,49.012798,2.550000,FRA,50.033333,8.570556,0 days 02:21:00,0,0,0,0,449.002847
16,FCO,FRA,AZ,35,380,5,2022-02-14 08:33:00,5,2022-02-14 10:07:00,50,1200,AZ35/5,FCO,41.800278,12.238889,FRA,50.033333,8.570556,0 days 01:34:00,0,0,0,0,958.136317
17,DUS,MAD,FF,5,737,3,2022-02-12 09:24:00,3,2022-02-12 10:25:00,50,570,FF5/3,DUS,51.289501,6.766780,MAD,40.471926,-3.562640,0 days 01:01:00,0,0,0,0,1441.299684
18,DUS,MAD,LH,5,737,3,2022-02-12 08:30:00,3,2022-02-12 09:40:00,50,570,LH5/3,DUS,51.289501,6.766780,MAD,40.471926,-3.562640,0 days 01:10:00,0,0,0,0,1441.299684
19,CDG,MAD,AF,24,737,1,2022-02-10 16:53:00,1,2022-02-10 17:34:00,50,570,AF24/1,CDG,49.012798,2.550000,MAD,40.471926,-3.562640,0 days 00:41:00,0,0,0,0,1064.512891
20,FCO,MAD,AZ,37,737,4,2022-02-13 05:35:00,4,2022-02-13 06:43:00,50,570,AZ37/4,FCO,41.800278,12.238889,MAD,40.471926,-3.562640,0 days 01:08:00,0,0,0,0,1329.630400
21,DUS,BCN,FF,6,737,3,2022-02-12 08:58:00,3,2022-02-12 10:23:00,50,570,FF6/3,DUS,51.289501,6.766780,BCN,41.297100,2.078460,0 days 01:25:00,0,0,0,0,1167.414587
22,DUS,BCN,LH,6,737,3,2022-02-12 08:00:00,3,2022-02-12 09:30:00,50,570,LH6/3,DUS,51.289501,6.766780,BCN,41.297100,2.078460,0 days 01:30:00,0,0,0,0,1167.414587
23,CDG,BCN,AF,25,737,3,2022-02-12 17:21:00,2,2022-02-11 18:29:00,50,570,AF25/3,CDG,49.012798,2.550000,BCN,41.297100,2.078460,-1 days +01:08:00,0,0,0,0,858.738012
24,FCO,BCN,AZ,38,380,2,2022-02-11 06:56:00,2,2022-02-11 08:26:00,50,1200,AZ38/2,FCO,41.800278,12.238889,BCN,41.297100,2.078460,0 days 01:30:00,0,0,0,0,846.877836
25,DUS,LHR,FF,4,380,3,2022-02-12 09:41:00,3,2022-02-12 10:30:00,50,1200,FF4/3,DUS,51.289501,6.766780,LHR,51.470600,-0.461941,0 days 00:49:00,0,0,0,0,501.891043
26,DUS,LHR,LH,4,380,3,2022-02-12 09:00:00,3,2022-02-12 10:10:00,50,1200,LH4/3,DUS,51.289501,6.766780,LHR,51.470600,-0.461941,0 days 01:10:00,0,0,0,0,501.891043
27,CDG,LHR,AF,23,380,1,2022-02-10 15:03:00,1,2022-02-10 16:32:00,50,1200,AF23/1,CDG,49.012798,2.550000,LHR,51.470600,-0.461941,0 days 01:29:00,0,0,0,0,347.167508
28,FCO,LHR,AZ,36,737,3,2022-02-12 07:13:00,3,2022-02-12 08:48:00,50,570,AZ36/3,FCO,41.800278,12.238889,LHR,51.470600,-0.461941,0 days 01:35:00,0,0,0,0,1443.887182
29,DUS,FCO,FF,7,380,3,2022-02-12 08:24:00,3,2022-02-12 08:28:00,50,1200,FF7/3,DUS,51.289501,6.766780,FCO,41.800278,12.238889,0 days 00:04:00,0,0,0,0,1134.318200
30,DUS,FCO,LH,7,380,3,2022-02-12 07:30:00,3,2022-02-12 08:20:00,50,1200,LH7/3,DUS,51.289501,6.766780,FCO,41.800278,12.238889,0 days 00:50:00,0,0,0,0,1134.318200
31,TXL,FCO,AZ,27,380,3,2022-02-12 04:09:00,3,2022-02-12 05:48:00,50,1200,AZ27/3,TXL,52.559700,13.287700,FCO,41.800278,12.238889,0 days 01:39:00,0,0,0,0,1198.981545
32,CDG,FCO,AF,26,737,2,2022-02-11 19:58:00,2,2022-02-11 20:01:00,50,570,AF26/2,CDG,49.012798,2.550000,FCO,41.800278,12.238889,0 days 00:03:00,0,0,0,0,1100.693989
33,CDG,FCO,AZ,28,737,4,2022-02-13 06:08:00,4,2022-02-13 07:22:00,50,570,AZ28/4,CDG,49.012798,2.550000,FCO,41.800278,12.238889,0 days 01:14:00,0,0,0,0,1100.693989
34,FRA,FCO,AZ,29,737,2,2022-02-11 10:32:00,2,2022-02-11 13:14:00,50,570,AZ29/2,FRA,50.033333,8.570556,FCO,41.800278,12.238889,0 days 02:42:00,0,0,0,0,958.136317
35,MAD,FCO,AZ,31,380,4,2022-02-13 11:38:00,4,2022-02-13 15:35:00,50,1200,AZ31/4,MAD,40.471926,-3.562640,FCO,41.800278,12.238889,0 days 03:57:00,0,0,0,0,1329.630400
36,BCN,FCO,AZ,32,737,5,2022-02-14 10:13:00,5,2022-02-14 11:26:00,50,570,AZ32/5,BCN,41.297100,2.078460,FCO,41.800278,12.238889,0 days 01:13:00,0,0,0,0,846.877836
37,LHR,FCO,AZ,30,380,3,2022-02-12 15:41:00,3,2022-02-12 18:14:00,50,1200,AZ30/3,LHR,51.470600,-0.461941,FCO,41.800278,12.238889,0 days 02:33:00,0,0,0,0,1443.887182
38,TXL,DUS,FF,8,737,1,2022-02-10 06:06:00,1,2022-02-10 08:32:00,50,570,FF8/1,TXL,52.559700,13.287700,DUS,51.289501,6.766780,0 days 02:26:00,0,0,0,0,468.744977
39,TXL,DUS,LH,8,737,1,2022-02-10 06:00:00,1,2022-02-10 08:00:00,50,570,LH8/1,TXL,52.559700,13.287700,DUS,51.289501,6.766780,0 days 02:00:00,0,0,0,0,468.744977
40,CDG,DUS,FF,9,737,1,2022-02-10 05:24:00,1,2022-02-10 06:06:00,50,570,FF9/1,CDG,49.012798,2.550000,DUS,51.289501,6.766780,0 days 00:42:00,0,0,0,0,392.770642
41,CDG,DUS,LH,9,737,1,2022-02-10 05:00:00,1,2022-02-10 06:00:00,50,570,LH9/1,CDG,49.012798,2.550000,DUS,51.289501,6.766780,0 days 01:00:00,0,0,0,0,392.770642
42,FRA,DUS,FF,10,737,1,2022-02-10 06:37:00,1,2022-02-10 07:19:00,50,570,FF10/1,FRA,50.033333,8.570556,DUS,51.289501,6.766780,0 days 00:42:00,0,0,0,0,188.868092
43,FRA,DUS,LH,10,737,1,2022-02-10 06:00:00,1,2022-02-10 07:00:00,50,570,LH10/1,FRA,50.033333,8.570556,DUS,51.289501,6.766780,0 days 01:00:00,0,0,0,0,188.868092
44,MAD,DUS,FF,12,737,3,2022-02-12 09:43:00,3,2022-02-12 10:01:00,50,570,FF12/3,MAD,40.471926,-3.562640,DUS,51.289501,6.766780,0 days 00:18:00,0,0,0,0,1441.299684
45,MAD,DUS,LH,12,737,3,2022-02-12 09:00:00,3,2022-02-12 10:00:00,50,570,LH12/3,MAD,40.471926,-3.562640,DUS,51.289501,6.766780,0 days 01:00:00,0,0,0,0,1441.299684
46,BCN,DUS,FF,13,737,3,2022-02-12 04:30:00,3,2022-02-12 05:15:00,50,570,FF13/3,BCN,41.297100,2.078460,DUS,51.289501,6.766780,0 days 00:45:00,0,0,0,0,1167.414587
47,BCN,DUS,LH,13,737,3,2022-02-12 04:00:00,3,2022-02-12 05:00:00,50,570,LH13/3,BCN,41.297100,2.078460,DUS,51.289501,6.766780,0 days 01:00:00,0,0,0,0,1167.414587
48,LHR,DUS,FF,11,380,3,2022-02-12 07:27:00,3,2022-02-12 08:08:00,50,1200,FF11/3,LHR,51.470600,-0.461941,DUS,51.289501,6.766780,0 days 00:41:00,0,0,0,0,501.891043
49,LHR,DUS,LH,11,380,3,2022-02-12 07:20:00,3,2022-02-12 08:00:00,50,1200,LH11/3,LHR,51.470600,-0.461941,DUS,51.289501,6.766780,0 days 00:40:00,0,0,0,0,501.891043
50,FCO,DUS,FF,14,380,3,2022-02-12 23:21:00,4,2022-02-13 01:34:00,50,1200,FF14/3,FCO,41.800278,12.238889,DUS,51.289501,6.766780,0 days 02:13:00,0,0,0,0,1134.318200
51,FCO,DUS,LH,14,380,3,2022-02-12 05:30:00,3,2022-02-12 06:30:00,50,1200,LH14/3,FCO,41.800278,12.238889,DUS,51.289501,6.766780,0 days 01:00:00,0,0,0,0,1134.318200
52,TXL,KRK,FF,15,380,1,2022-02-10 21:00:00,2,2022-02-11 01:34:00,50,1200,FF15/1,TXL,52.559700,13.287700,KRK,50.077702,19.784800,0 days 04:34:00,0,0,0,0,528.888763

In [ ]:
itin_selected = avail_list_itin[choice_stops]['index']==choice_index

In [ ]:
itin_selected

In [ ]:
spill